{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #009ad8">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/icon.png' %}" class="logo" alt="logo">&nbsp; Island
            Apartment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li {%  if '/' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'index' %}">House</a>
                </li>

                <li {%  if 'hotels' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'hotels' %}">Hotels</a>
                </li>


                <li {%  if 'shops' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'shops' %}">Shops</a>
                </li>

                <li {%  if 'listings' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'listings' %}">Featured listings</a>
                </li>
                <!-- <li class="nav-item mr-3">
                    <a class="nav-link" href="listings.html">Featured Listings</a>
                </li> -->
            </ul>

            <ul class="navbar-nav ml-auto">
                <li {%  if 'about' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'about' %}">
                        about us</a>
                </li>
                <!-- <li {%  if 'contact' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="contact.html">
                        contact us</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>