#header{
    height: 50px;
    background-color:#10284e;
    color: #fff;
}

#branding h1{
    color: #fff;
}

a:link,
a:visited{
    color: #10284e;
}

div.breadcrumbs{
    background: #38caa8;
    color: #10284e ;
}

div.breadcrumbs a{
    color:#333;
}

.module h2, .module caption, inline_group h2{
    background-color: #30caa8;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: #10284e;
    color: #fff;
}